<h2>Overview</h2>
<hr>

<p>Susthota Pro is a Health and Medical HTML Template. It's Fully Responsive based on Bootstrap 4. All files and code have been well organized and nicely commented for easy to customize. We have included a documentation folder to describe the code structures.</p>

<p>We believe – we have covered everything you need to setup a for medical clinics, hospitals, personal doctors, but if there is something that you would like to know then we are happy to help you out.</p>

<h2>Template Features:</h2>
<hr>

<ul>
	<li>2 Deferent Home Version</li>
	<li>Based on Bootstrap 4</li>
	<li>HTML5, CSS3, jQuery</li>
	<li>Fully Responsive</li>
	<li>Easy to Customizable</li>
	<li>W3C Validated Code</li>
	<li>Fontawesome Icons</li>
	<li>Free Google Fonts.</li>
	<li>All files are well commented</li>
	<li>Well Documentation</li>
	<li>Free Updates</li>
	<li>Quick support</li>
	<li>Displays well in all modern browsers and devices</li>
</ul>

<h2>What do you get?</h2>
<hr>

<ul>
	<li>HTML content</li>
	<li>documentation</li>
</ul>

<h2>Fonts:</h2>
<hr>

<ul>
	<li>roboto</li>
</ul>

<h2>Plugins:</h2>
<hr>

<ul>
	<li>jQuery</li>
	<li>bootstrap 4</li>
	<li>SlickNav</li>
</ul>

<p>Support: If you need any help using the file or need special customizing please feel free to contact me via my Themeforest profile.We are on 24 hours for Your help.</p>

<h2>Note:</h2>
<hr>

<b>Images are only for demo purpose and not included with the download bundle.</b>