/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
    color: #121212;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
    color: #121212;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700,800,900');

body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #f1f1f1;
}

html {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 35px;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

p {
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 1.5;
}

@media(min-width:768px) {
    p {
        margin: 0 0 35px;
        font-size: 20px;
        line-height: 1.6;
    }
}

a {
    color: #fff;
    transition: all 0.2s ease-in-out 0s;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}

.light {
    font-weight: 400;
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    text-transform: uppercase;
    font-family: 'PT Serif', serif;
    background-color: #fff;
}

.navbar-custom .navbar-brand {
    font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
    outline: 0;
}

.navbar-custom .navbar-brand .navbar-toggle {
    padding: 4px 6px;
    font-size: 16px;
    color: #000;
}

.navbar-toggle {
    color: #000;
}

.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
    outline: 0;
}

.navbar-custom a {
    color: #000;
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover {
    outline: 0;
    color: rgba(0, 0, 0, .7);
    background-color: transparent;
}

.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
    outline: 0;
    background-color: transparent;
}

.navbar-custom .nav li.active {
    outline: 0;
}

.navbar-custom .nav li.active a {
    background-color: #999;
    color: #fff;
}

.navbar-custom .nav li.active a:hover {
    color: #fff;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 20px 0;
        border-bottom: 0;
        letter-spacing: 1px;
        background: 0 0;
        background-color: #fff;
        -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
        transition: background .5s ease-in-out, padding .5s ease-in-out;
    }
    .navbar-custom.top-nav-collapse {
        padding: 0;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        background: #fff;
    }
}

.intro {
    background: #999 none repeat scroll 0 0;
    color: #fff;
    display: table;
    height: auto;
    padding: 100px 0;
    text-align: center;
    margin-bottom: 100px;
    width: 100%;
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

.intro .intro-body .brand-heading {
    font-size: 40px;
}

.intro .intro-body .intro-text {
    font-size: 18px;
}

.intro .intro-body .intro-text span {
    padding-right: 15px;
    font-size: 20px;
}

.intro a {
    color: #fff;
}

@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }
    .intro .intro-body .brand-heading {
        font-size: 70px;
    }
    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

.btn-circle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 2px solid #efefef;
    border-radius: 100% !important;
    color: #ca7395;
    font-size: 40px;
    height: 70px;
    margin-top: 15px;
    padding: 7px 16px;
    transition: background 0.3s ease-in-out 0s;
    width: 70px;
}

.btn-circle:hover,
.btn-circle:focus {
    background: rgba(0, 0, 0, 0.1) none repeat scroll 0 0;
    color: #fff;
    outline: 0 none;
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes pulse {
    0% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
    50% {
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }
    100% {
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

.content-section {
    padding-top: 70px;
}

.download-section {
    width: 100%;
    padding: 50px 0;
    color: #fff;
    background: url(../img/downloads-bg.jpg) no-repeat center center scroll;
    background-color: #000;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#map {
    width: 100%;
    height: 200px;
    margin-top: 100px;
}

@media(min-width:767px) {
    .content-section {
        padding-top: 70px;
    }
    .download-section {
        padding: 100px 0;
    }
    #map {
        height: 400px;
        margin-top: 250px;
    }
}

.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #fff;
    border: 1px solid #fff;
    color: #fff;
    outline: 0 none;
}

ul.banner-social-buttons {
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }
    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 20px 0;
    background: #999;
    margin-top: 100px;
}

footer p {
    margin: 0;
}

*::-moz-selection {
    background: #fff none repeat scroll 0 0;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #fff;
    text-shadow: none;
    color: #fff;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255, 255, 255, .2);
}



/* CUSTOM */

.brand-heading span {
    color: #fff;
}

.content-section {
    padding-bottom: 70px;
    margin: 0px auto;
}

.content-section:nth-child(odd) {
    background: #a7a7a7;
}

.content-section:nth-child(even) {
    background: #999;
}

.content-section h2 {
    border-bottom: 2px solid #fff;
    margin-bottom: 15px;
    padding-bottom: 10px;
    text-align: left;
    text-transform: uppercase;
}

.content-section h4 {
    margin-bottom: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-transform: none;
}

.content-brief p {
    text-align: left;
    margin-bottom: 5px;
    font-size: 17px;
}

.content-brief p a {
    word-break: break-all;
}

.content-desc {
    border-left: 1px solid #f1f1f1;
}

.content-desc p,
.content-desc ul {
    text-align: left;
    font-size: 18px;
    margin-bottom: 20px;
}

.content-desc p strong {
    border-left: 5px solid #fff;
    padding-left: 5px;
}

.content-desc p span {
    font-weight: 700;
}

.content-desc p span:after {
    content: "\f0da";
    font-family: FontAwesome;
    color: #ca7395;
    padding-left: 5px;
}

.content-desc ul {
    list-style-type: circle;
    font-size: 17px;
    line-height: 27px;
}

.content-desc img {
    margin-bottom: 15px;
}

.text-center {
    text-align: center !important;
}

.bg-warning {
    text-align: center !important;
    color: #fcf8e3;
    padding: 10px;
    background-color: #787777;
}

.content-desc ul li {
    margin-bottom: 5px;
    list-style: none;
    text-transform: capitalize;
}

code {
    padding: 5px 32px;
    font-size: 16px;
    color: #222;
    background-color: #fff;
    border-radius: 2px;
    font-weight: 500;
    text-transform: lowercase;
    margin-right: 10px;
}