/*----------------hero-area start----------------*/
.hero-area {
    height: 600px;
    display: flex;
    align-items: center;
    text-align: center;
    background: #fdfffe;
}
.hero-area h2{
    font-size: 36px;
    color: #222;
    margin-bottom: 22px;
    line-height: 51px;
    font-weight: 800;
}
.hero-area p{
    font-size: 16px;
    font-weight: 500;
    color: #222;
}
.hero-area a{
    display: inline-block;
    color: #fdfffe;
    background: #222;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0;
    padding: 16px 18px;
    border-radius: 4px;
    margin-top: 40px;
}

a.purchase-btn {
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 998;
    text-decoration: none;
    padding: 12px 26px;
    padding-right: 45px;
    background-color: #3a3c3b;
    color: transparent;
    letter-spacing: 0;
    font-weight: 500;
    border-radius: 3px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.01);
    transition: all 0.3s ease 0s;
    text-align: center;
}
a.purchase-btn i{
    color: #fff;
}
a.purchase-btn::before,
a.purchase-btn::after{
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 0;
    color: #fff;
    padding: 12px 26px;
    padding-left: 55px;
    transition: all 0.3s ease 0s;
    opacity: 1;
}
a.purchase-btn::after{
    opacity: 0;
    top: 10px;
}
a.purchase-btn:hover::before{
    top: -10px;
    opacity: 0;
}
a.purchase-btn:hover:hover::after{
    opacity: 1;
    top: 0;
}
a.purchase-btn:hover {
    background-color: #0bde7c;
}


/*----------------hero-area end----------------*/

/*----------------demo-area start----------------*/
.demo-area {
    padding-top: 100px;
    background: #fdfffe;
}
.demo{
    margin-bottom: 80px;
}
.demo a {
    display: inline-block;
    border-radius: 15px;
    overflow: hidden;
    border: 5px solid #e6eae8;
    box-shadow: 0 3px 25px rgba(18, 47, 247,0.1);
}
.demo a img{
    max-width: 100%;
    transform: scale(1)translateY(0px);
    transition: all 0.3s ease 0s;
}
.demo a:hover img{
    transform: scale(1.03)translateY(5px);
}
.demo h2{
    text-align: center;
    font-size: 20px;
    color: #222;
    font-weight: 600;
    margin-top: 9px;
    letter-spacing: 0;
    text-transform: capitalize;
}


/*----------------demo-area end----------------*/

/*----------------featured-area start----------------*/
.section-title{
    margin-bottom: 50px;
}
.section-title h2{
    font-size: 28px;
    color: #3a3232;
    margin-bottom: 20px;
    line-height: 25px;
}
.section-title p{
    color: #222;
    font-weight: 500;
    font-size: 15px;
}
.featured-area {
    padding: 100px 0px 70px;
    background: #fdfffe url(../images/bg-shape-dot.png) center/contain repeat;
}

.featured-wrap {
    padding: 0px 30px;
    background: #fff;
    text-align: center;
    margin-bottom: 30px;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    transition: all 0.3s ease 0s;
}

.featured-wrap:hover {
    background: #efefef;
}

.featured-wrap i {
    height: 80px;
    width: 80px;
    line-height: 80px;
    margin: 0px auto 15px;
    border-radius: 50%;
    font-size: 54px;
    color: #443f3f;
}
.featured-wrap h3 {
    font-size: 17px;
    font-weight: 500;
    line-height: 28px;
    color: #443f3f;
}
.footer-area {
    padding: 20px 0px;
    text-align: center;
    background: #fdfffe;
    color: #222;
    text-transform: capitalize;
    font-size: 16px;
}
.footer-area p{
    margin: 0;
}

/*----------------featured-area end----------------*/
.bg-shape{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}