/* (1366x768) WXGA Display */
@media screen and (min-width: 1368px) and (max-width: 1920px) {
    .main-menu {
        margin-right: -16px;
    }
}


/*Medium Desktop Device*/
@media screen and (min-width: 1200px) and (max-width: 1440px) {
    .faq-img {
        right: 60%;
        max-width: 351px;
    }
    .header-bottom-s2:before {
        width: 90%;
    }
    .appoinment-box {
        width: 500px;
        right: 9%;
    }
}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1199px) {
    .ptb--100{
        padding: 90px 0;
    }
    .pt--100{
        padding-top: 90px;
    }
    .pb--100{
        padding-bottom: 90px;
    }
    /* Home One */
    .slider-content h2 {
        font-size: 44px;
        line-height: 50px;
    }
    .abt-left::before {
        width: 190px;
    }
    .download-flyer a {
        font-size: 20px;
    }
    .copy-right {
        margin-top: 30px;
    }
    .footer-top{
        padding-top: 90px;
    }
    /* about us */
    .faq-img {
        right: 58%;
        max-width: 342px;
    }

    /* our doctor */
    .avl-doc-menu li a {
        font-size: 13px;
    }

    /* Home Two */
    .header-bottom-s2:before {
        width: 100%;
    }
    .appoinment-box {
        width: 450px;
        right: 5%;
    }
    .hero-area::before {
        height: 150px;
    }
    .hero-area {
        padding: 264px 0 224px;
    }

    /* Blog details */
    .all-blog{
        padding-bottom: 50px;
    }
    .rc-thumb {
        max-width: 70px;
        margin-right: 10px;
    }
    .food-poison li {
        width: 268px;
        max-width: 100%;
    }
}


/* Normal desktop :991px. */
@media (min-width: 768px) and (max-width: 991px) {
    .ptb--100{
        padding: 80px 0;
    }
    .pt--100{
        padding-top: 80px;
    }
    .pb--100{
        padding-bottom: 80px;
    }
    /* Home One */
    .ht-address li {
        font-size: 14px;
    }
    .header-bottom {
        padding-top: 23px;
    }
    .slicknav_btn {
        margin-top: -55px;
    }
    .slider_item {
        min-height: 553px;
        padding-bottom: 20px;
    }
    .slider-content span {
        font-size: 22px;
        margin-bottom: 13px;
    }
    .slider-content h2 {
        font-size: 26px;
        line-height: 34px;
    }
    .abt-right{
        margin-top: 70px;
    }
    .single-doctor{
        margin-bottom: 40px;
    }
    .see-all a {
        margin-top: 20px;
    }
    .service-item {
        margin-bottom: 40px;
    }
    .service-right{
        height: 400px;
    }
    .tst-thumb {
        height: 100px;
        width: 100px;
    }
    .single-blog{
        margin-bottom: 47px;
    }
    .feature-blog{
        padding-bottom: 40px;
    }
    .footer-top .widget{
        margin-bottom: 50px;
    }
    .copy-right {
        margin-top: 30px;
    }
    .footer-top{
        padding-top: 80px;
    }
    
    /* About us */
    .faq-img{
        display: none;
    }
    .s-counter{
        margin-bottom: 50px;
    }
    .counter-area{
        padding-bottom: 40px;
    }

    /* Department */
    .deparment-tabs li {
        flex-basis: calc(100% * (1/6) - 11px);
    }
    .deparment-tabs li a {
        font-size: 12px;
    }
    .deparment-tabs li a .icon {
        width: 21px;
    }
    .dpt-content{
        margin-top: 20px;
    }

    /* service  */
    .all-services{
        padding-bottom: 80px;
    }
    .banner-content h2 {
        font-size: 22px;
    }

    /* our doctor  */
    .avl-doc-menu {
        text-align: left;
        margin-top: 18px;
    }
    .avl-doc-menu li:first-child a{
        margin-left: 0;
    }

    /* contact  us*/
    .contact-form form{
        margin-bottom: 60px;
    }
    .cnt-single i {
        margin: 4px 30px 22px 0;
    }
    .cnt-single h2 {
        font-size: 16px;
    }

    /* Home Two */
    .header-bottom-s2:before{
        display: none;
    }
    #header-s2,
    .sticky-header {
        position: inherit;
        animation: inherit;
    }
    .hts-s2{
        text-align: right;
    }
    .header-bottom-s2 ,
    .sticky-header.header-bottom-s2 {
        background: #0ace7c;
    }
    .header-bottom-s2{
        padding-top: 20px;
    }
    .hero-area {
        padding: 80px 0 80px;
    }
    .appoinment-box{
        position: inherit;
        margin-top: 50px;
    }
    .hero-area .slider-content h2 {
        font-size: 34px;
    }
    .hero-area .slider-content span {
        margin-bottom: 30px;
    }
    .hero-area::before {
        bottom: -172px;
    }
    .abt-s2 .abt-right {
        margin: 0;
    }
    .abt-s2 .abt-left{
        margin-top: 40px;
    }

    /* service details */
    .sd-content h2 a,
    .sd-content h3 {
        font-size: 16px;
    }
    .w_service-list li a i {
        margin-left: 10px;
        width: 20px;
    }
    .w_service-list li a {
        font-size: 15px;
        padding: 16px 0;
    }
    /* Blog details */
    .all-blog{
        padding-bottom: 40px;
    }
    .rc-thumb {
        max-width: 70px;
        margin-right: 10px;
    }
    .sidebar .widget {
        padding: 0 12px;
    }
    .blog-one-column{
        padding-bottom: 40px;
    }
    .widget-tags ul li a {
        padding: 7px 9px;
    }
    .blg-details-inner h2 a,
    .blg-details-inner h3 {
        font-size: 22px;
    }
    .children {
        padding-left: 30px;
    }
    .abt-left:before,
    .abt-left:after{
        display: none;
    }
    #google_map {
        height: 450px;
    }
    .faq-content h2 {
        margin-bottom: 7px;
    }
}


/* small mobile :320px. */
@media (max-width: 767px) {
    .cta-btn {
        text-align: left;
        margin-top: 33px;
    }
}


/* Large Mobile :480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .ptb--100{
        padding: 70px 0;
    }
    .pt--100{
        padding-top: 70px;
    }
    .pb--100{
        padding-bottom: 70px;
    }
    /* Home One */
    .ht-address,
    .ht-appoinment,
    .logo{
        text-align: center;
    }
    .ht-social{
        margin: 10px 0;
    }
    .header-top{
        padding-bottom: 20px;
    }
    .header-bottom{
        padding: 20px 0 0;
    }
    .logo a {
        max-width: 235px;
        margin: auto;
    }
    .slicknav_btn {
        margin-top: -47px;
    }
    .slider-content span {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .slider-content h2 {
        font-size: 34px;
        line-height: 40px;
    }
    .slider-content p {
        font-size: 14px;
    }
    .abt-left::before,
    .abt-left::after{
        display: none;
    }
    .abt-right{
        margin-top: 50px;
    }
    .single-doctor{
        margin-bottom: 50px;
    }
    .see-all a{
        margin-top: 0;
    }
    .service-item,
    .single-blog{
        margin-bottom: 40px;
    }
    .service-right{
        height: 380px;
    }
    .feature-blog{
        padding-bottom: 50px;
    }
    .copy-right {
        margin-top: 30px;
    }
    .footer-top{
        padding-top: 80px;
    }
    .footer-top .widget{
        margin-bottom: 50px;
    }
    
    /* About us */
    .faq-img{
        display: none;
    }
    .s-counter{
        margin-bottom: 50px;
    }
    .counter-area{
        padding-bottom: 40px;
    }

    /* Department */
    .deparment-tabs li {
        flex-basis: calc(100% * (1/3) - 14px);
        margin-bottom: 24px;
    }
    .dpt-content{
        margin-top: 20px;
    }

    /* service  */
    .all-services{
        padding-bottom: 50px;
    }
    .banner-content h2 {
        font-size: 22px;
    }
    
    /* our doctor  */
    .avl-doc-menu {
        text-align: left;
        margin-top: 18px;
    }
    .avl-doc-menu li:first-child a{
        margin-left: 0;
    }

    /* contact  us*/
    .contact-form form{
        margin-bottom: 60px;
    }

    /* Home Two */
    .header-bottom-s2:before{
        display: none;
    }
    #header-s2,
    .sticky-header {
        position: inherit;
        animation: inherit;
    }
    .header-bottom-s2 ,
    .sticky-header.header-bottom-s2 {
        background: #0ace7c;
    }
    .header-bottom-s2{
        padding-top: 20px;
    }
    .hero-area {
        padding: 80px 0 80px;
    }
    .appoinment-box{
        position: inherit;
        margin-top: 50px;
        width: 100%;
    }
    .hero-area .slider-content h2 {
        font-size: 34px;
    }
    .hero-area .slider-content span {
        margin-bottom: 30px;
    }
    .hero-area::before {
        bottom: -172px;
    }
    .abt-s2 .abt-right {
        margin: 0;
    }
    .abt-s2 .abt-left{
        margin-top: 40px;
    }

    /* service details */
    .sd-content h2 a,
    .sd-content h3 {
        font-size: 16px;
    }
    .sidebar{
        margin-top: 70px;
    }

    /* Blog details */
    .all-blog{
        padding-bottom: 40px;
    }
    .blog-one-column{
        padding-bottom: 70px;
    }
    .blog-one-column .sidebar{
        margin-top: 30px;
    }
}


/* small mobile :320px. */
@media (min-width: 240px) and (max-width: 479px) {
    .ptb--100{
        padding: 70px 0;
    }
    .pt--100{
        padding-top: 70px;
    }
    .pb--100{
        padding-bottom: 70px;
    }
    /* Home One */
    .ht-address,
    .ht-appoinment,
    .logo{
        text-align: center;
    }
    .ht-social{
        margin: 10px 0;
    }
    .header-top{
        padding-bottom: 20px;
    }
    .header-bottom{
        padding: 20px 0 0;
    }
    .logo a {
        max-width: 235px;
        margin: auto;
    }
    .hb-search{
        text-align: left;
        margin-top: 20px;
    }
    .offset-search {
        width: 245px;
    }
    .header-bottom{
        position: inherit;
    }
    .header-gap{
        margin-top: 0;
    }
    .slider-content span {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .slider-content h2 {
        font-size: 25px;
        line-height: 35px;
    }
    .slider-content p {
        font-size: 14px;
    }
    .sld-links a{
        margin-bottom: 15px;
    }
    .slider_item {
        min-height: 680px;
        padding-bottom: 59px;
    }
    .section-title h2 {
        font-size: 20px;
        padding-bottom: 17px;
        line-height: 35px;
    }
    .abt-left::before,
    .abt-left::after{
        display: none;
    }
    .abt-right{
        margin-top: 70px;
    }
    .single-doctor{
        margin-bottom: 50px;
    }
    .see-all a{
        margin-top: 0;
    }
    .service-item{
        margin-bottom: 40px;
    }
    .service-right{
        height: 280px;
    }
    .download-flyer {
        width: 95%;
    }
    .download-flyer a {
        font-size: 19px;
    }
    .tst-thumb {
        height: 100px;
        width: 100px;
    }
    .single-blog{
        margin-bottom: 50px;
    }
    .feature-blog{
        padding-bottom: 30px;
    }
    .footer-top{
        padding-top: 70px;
    }
    .footer-top .widget{
        margin-bottom: 50px;
    }
    .copy-right{
        margin-top: 30px;
    }
    /* About us */
    .crumbs-area {
        min-height: 251px;
    }
    .crumb-inner h3 {
        font-size: 26px;
        margin-bottom: 9px;
    }
    .crumb-inner ul li a,
    .crumb-inner ul li span {
        font-size: 14px;
    }
    .faq-img{
        display: none;
    }
    .accordion-area .card-header h5 button i.icon {
        right: 4px;
        top: 13px;
    }
    .accordion-area .card-header h5 button {
        font-size: 12px;
    }
    .s-counter{
        margin-bottom: 50px;
    }
    .counter-area{
        padding-bottom: 30px;
    }
    .s-counter p {
        font-size: 13px;
    }
    .section-title p {
        font-size: 15px;
    }
    .faq-area{
        padding-bottom: 60px;
    }

    /* Department */
    .deparment-tabs li {
        flex-basis: calc(100% * (1/2) - 14px);
        margin-bottom: 24px;
    }
    .dpt-content{
        margin-top: 20px;
    }
    .dpt-content ul.list {
        display: block;
    }
    .dpt-content ul.list {
        margin-top: 31px;
    }

    /* service  */
    .all-services{
        padding-bottom: 70px;
    }
    .banner-content h2 {
        font-size: 19px;
        line-height: 30px;
    }


    /* Our Doctor */
    .team-carousel .owl-nav{
        display: none;
    }
    .single-team {
        text-align: center;
    }
    .single-team .thumb{
        margin: auto;
    }
    .tm-meta-name h2 {
        display: block;
        margin: 0 0 7px;
    }

    /* our doctor  */
    .avl-doc-menu li {
        display: block;
        text-align: center;
        margin-bottom: 12px;
    }
    .avl-doc-menu li a{
        margin: 0;
    }
    .avl-doc-menu li a:before{
        display: none;
    }
    .av_dc-title {
        margin-bottom: 20px;
        text-align: center;
    }
    .available-doctor-area{
        padding-bottom: 40px;
    }

    /* contact */
    .section-title-two h2 {
        font-size: 20px;
    }
    .section-title-two h4 {
        font-size: 16px;
        color: #4d5152;
    }
    .form-submit {
        text-align: center;
        margin-bottom: 60px;
    }
    .form-submit .text-right{
        text-align: center!important;
    }
    .form-submit button{
        margin-top: 20px;
    }
    .cnt-single h2 {
        font-size: 15px;
    }
    .cnt-single i {
        margin: 4px 15px 0 0;
        width: 50px;
        font-size: 19px;
    }

    /* Home Two */
    .header-bottom-s2:before{
        display: none;
    }
    #header-s2,
    .sticky-header {
        position: static;
        animation: inherit;
    }
    .hts-s2{
        text-align: center;
    }
    .header-bottom-s2 ,
    .sticky-header.header-bottom-s2 {
        background: #0ace7c;
    }
    .header-bottom-s2{
        padding-top: 20px;
    }
    .hero-area {
        padding: 70px 0;
    }
    .appoinment-box {
        width: 100%;
        margin-top: 50px;
        position: inherit;
    }
    .appoinment-box ul li a {
        font-size: 13px;
    }
    .hero-area .slider-content h2 {
        font-size: 25px;
        line-height: 33px;
    }
    .hero-area .slider-content span{
        margin-bottom: 20px;
    }
    .for-queries-faq {
        padding: 10px;
    }
    .for-queries-faq .accordion-area .card-header h5 button {
        padding-right: 32px;
    }
    .hero-area::before {
        bottom: -187px;
    }
    .abt-s2 .abt-right {
        margin: 0 0 50px;
    }
    .abt-left h4 {
        margin: 8px 0 18px;
    }

    /* Service details */
    .sd-content h2 a{
        font-size: 15px;
    }
    .sd-content h3{
        font-size: 14px;
        margin-bottom: 8px;
    }
    .sidebar{
        margin-top: 70px;
    }

    /* Blog details */
    .all-blog{
        padding-bottom: 40px;
    }
    .blog-one-column{
        padding-bottom: 70px;
    }
    .blog-one-column .sidebar{
        margin-top: 30px;
    }
    .blg-details-inner h2 a {
        font-size: 20px;
    }
    .blg-details-inner h3 {
        font-size: 20px;
    }
    .acc-system li a {
        display: flex;
        line-height: 21px;
    }
    .acc-system li a i {
        margin-top: 3px;
    }
    .children {
        padding-left: 20px;
    }
    .tst-item p {
        font-size: 14px;
    }
    .appoinment-form-s2 {
        padding: 25px 15px 10px;
    }
    .abt-left h2 {
        font-size: 20px;
        color: #5a5757;
        margin-bottom: 21px;
    }
    .copy-right p {
        font-size: 14px;
    }
    #google_map {
        height: 300px;
    }
}