/*-----------------------------------------------------------------------------------

    Template Name: Susthota Pro - Health and Medical HTML Template
    Template URI: http://tf.itech-theme.com/susthotapro-preview/
    Description: Susthota Pro is a Health and Medical HTML Template
    Author: itechtheme
    Author URI: https://themeforest.net/user/itechtheme/portfolio
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================
  
    1. Home One
        1.1 Header Top
        1.2 Header Bottom
        1.3 Slider Area
        1.4 Appoinment Area
        1.5 About Area
        1.6 Doctor Area
        1.7 Service Area
        1.8 Testimonial Area
        1.9 Feature Blog
       1.10 Footer Area
    2. Home Two
    3. About Us
    4. Deparment
    5. Service
    6. Service Details
    6. Appoinment
    7. Our Doctor
    8. Blog
    9. Contact

-----------------------------------------------------------------------------------*/

/*============================================
    1. Home One / 1.1 Header Top
*=============================================*/
.header-top{
    padding: 9px 0;
}
.ht-address{
    height: 100%;
}
.ht-address li{
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 500;
    color: #003445;
    margin-right: 15px;
}
.ht-address li i{
    margin-right: 10px;
    color: #0bce7c;
    font-size: 18px;
}
.ht-social{
    text-align: center;
}
.ht-social li{
    display: inline-block;
}
.ht-social li a{
    font-size: 15px;
    color: #003445;
    margin-left: 10px;
}
.ht-social li a:hover{
    color: #1eb695;
}
.ht-appoinment {
    text-align: right;
}
.ht-appoinment a{
    display: inline-block;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    background: #0bce7c;
    letter-spacing: 0;
    box-shadow: 0 2px 11px rgba(10, 208, 190, 0.3);
    padding: 5px 30px;
    border-radius: 33px;
}
.ht-appoinment a:hover{
    background: #0ab76e;
}

/*============================================
   END Header Top
*=============================================*/

/*============================================
   1.2 Header Bottom
*=============================================*/
.header-bottom{
    background: #f2f9f9;
    position: absolute;
    left: 0;
    z-index: 998;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.sticky-header{
    position: fixed;
    top: 0;
}
.logo a{
    display: inline-block;
    max-width: 249px;
}
.main-menu{
    text-align: right;
}
.main-menu nav ul li{
    display: inline-block;
    position: relative;
}
.main-menu nav ul li a{
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #444444;
    letter-spacing: 0;
    padding: 34px 14px;
    position: relative;
    text-transform: capitalize;
}
.main-menu nav ul li:last-child a{
    padding-right: 0;
}
.main-menu nav >ul >li >a:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: #2ce396;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.main-menu nav ul li a:hover:before,
.main-menu nav ul li.active a:before{
    opacity: 1;
}
.main-menu nav ul li a:hover,
.main-menu nav ul li.active >a{
    color: #0bce7c;
}

/* sbumenu */
.main-menu nav .submenu{
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    width: 220px;
    text-align: left;
    padding-bottom: 7px;
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.main-menu nav ul li:hover >.submenu{
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
}
.main-menu nav .submenu li{
    display: block;
}
.main-menu nav .submenu li a{
    padding: 10px 15px;
}

.hb-search{
    text-align: right;
}
.hb-search i {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    height: 43px;
    width: 43px;
    background: #fff;
    text-align: center;
    line-height: 43px;
    color: #0bce7c;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0,0,0,0.05);
}

/* search area */
.offset-search{
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 9999;
    width: 500px;
    max-width: 100%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.over_lay{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    height: 100vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    visibility: hidden;
    cursor: pointer;
    background: #0bce7c;
    cursor: url('../images/icon/cross-cursor.png'), auto;
    -webkit-transition: all 0.3s ease 0s;;
    transition: all 0.3s ease 0s;
}
.show_hide{
    opacity: 1;
    visibility: visible;
}
.offset-search form{
    position: relative;
}
.offset-search input{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    border: none;
    letter-spacing: 0;
}
.offset-search button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    border: none;
    color: #0bce7c;
    background: #fff;
    outline: none;
    border-left: 1px solid #e9eaea;
}


/* mobile menu */
.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu {
    background: transparent;
    margin-top: 21px;
}

.slicknav_menu .slicknav_icon-bar {
    background-color: #0bce7c;
    height: 2px;
    width: 19px;
    margin: 3px 0px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.slicknav_btn {
    background-color: transparent;
    position: relative;
    margin-top: -42px;
    cursor: pointer;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(2) {
    opacity: 0;
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(1px, 7px);
    transform: rotate(45deg) translate(1px, 7px);
}

.slicknav_menu .slicknav_open .slicknav_icon-bar:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-6px);
    transform: rotate(-45deg) translateY(-6px);
}

.slicknav_menu {
    margin: 10px 0;
    padding: 0;
}

.slicknav_nav {
    background: #0bce7c;
    margin: 0;
    padding: 0;
}

.slicknav_nav a:hover {
    background: #fefefe;
    border-radius: 0;
}

.slicknav_nav a {
    font-size: 14px;
    letter-spacing: 0.01em;
}

.slicknav_nav .slicknav_arrow {
    float: right;
}

.slicknav_nav .slicknav_row:hover,
.slicknav_nav .slicknav_row:hover .slicknav_arrow {
    border-radius: 0;
    background-color: #3c3333;
}

/*============================================
   END Header Bottom
*=============================================*/

/*============================================
   1.3 Slider Area
*=============================================*/
.header-gap{
    margin-top: 84px;
}
.slider_item{
    min-height: 720px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.slider-content span{
    font-size: 26px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    margin-bottom: 20px;
    display: block;
    /* animation */
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: all 0.3s ease 0.7s;
    transition: all 0.3s ease 0.7s;
}
.slider-content h2{
    font-size: 52px;
    font-weight: 700;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    line-height: 64px;
    /* animation */
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0.75s;
    transition: all 0.3s ease 0.75s;
}
.text-center .slider-content p{
    max-width: 572px;
    margin: auto;
    margin-top: 22px;
}
.slider-content p{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
    margin-top: 22px;
    /* animation */
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: all 0.3s ease 0.85s;
    transition: all 0.3s ease 0.85s;
}
.sld-links{
    margin-top: 40px;
    /* animation */
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    -webkit-transition: all 0.3s ease 0.95s;
    transition: all 0.3s ease 0.95s;
}
.sld-links a{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0;
    color: #fff;
    border: 2px solid #fff;
    padding: 14px 50px;
    border-radius: 54px;
    margin: 0 12px;
}
.sld-links a.active,
.sld-links a:hover{
    border-color: #0bce7c;
    background: #0bce7c;
}

.slider-area .owl-dots{
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 9%;
    width: 100%;
}
.slider-area .owl-dot{
    height: 15px;
    width: 15px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 4px;
    display: inline-block;
}
.slider-area .active{
    background: #fff;
}
/* slider content animation */
.active .slider-content span,
.active .slider-content h2,
.active .slider-content p,
.active .sld-links{
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
}

/*============================================
   END Slider Area
*=============================================*/

/*============================================
   1.4 Appoinment Area
*=============================================*/
.section-title{
    margin-bottom: 50px;
}
.section-title h2{
    font-size: 28px;
    font-weight: 700;
    color: #003445;
    letter-spacing: 0;
    margin-bottom: 15px;
    padding-bottom: 20px;
    position: relative;
}
.section-title h2:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 1px;
    width: 60px;
    background: #0bce7c;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.section-title p{
    font-size: 16px;
    font-weight: 400;
    color: #5d5d5d;
}
.s_form{
    margin-bottom: 20px;
}
.s_form p{
    font-size: 15px;
    font-weight: 500;
    color: #5d5d5d;
    line-height: 27px;
}
.s_form select,
.s_form input{
    height: 55px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #34b2f7;
    letter-spacing: 0;
}
.s_form select,
.s_form input::-webkit-input-placeholder {
    color: #999;
}
.s_form selec,
.s_form input::-moz-placeholder {
    color: #999;
}
.s_form select,
.s_form input:-ms-input-placeholder {
    color: #999;
}
.s_form selec,
.s_form input:-moz-placeholder {
    color: #999;
}
.s_form button{
    font-size: 18px;
    height: 55px;
    width: 100%;
    text-align: center;
    background: #0bce7c;
    border: none;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.1em;
    margin-top: 26px;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.s_form button:hover{
    background: #03c350;
}
.calender{
    position: relative;
}
.calender input{
    padding-right: 20px;
}
.calender i{
    position: absolute;
    right: 11px;
    bottom: 20px;
    color: #999;
}
.form_notice{
    font-size: 15px;
    font-weight: 500;
    color: #5d5d5d;
    letter-spacing: 0;
    text-align: center;
    margin-top: 30px;
}

/*============================================
   END Appoinment Area
*=============================================*/

/*============================================
   1.5 About Area
*=============================================*/
.abt-left{
    padding-right: 30px;
}
.abt-left h2{
    font-size: 25px;
    font-weight: 700;
    color: #444;
    letter-spacing: 0;
    margin-bottom: 26px;
}
.abt-left p{
    font-size: 14px;
    font-weight: 400;
    color: #827a7a;
    margin-bottom: 20px;
    line-height: 27px;
}
.df_btn{
    display: inline-block;
    font-size: 15px;
    letter-spacing: 0;
    font-weight: 500;
    color: #fff;
    border: 2px solid #fff;
    padding: 11px 50px;
    border-radius: 33px;
    background: #2ce396;
}
.df_btn:hover{
    color: #fff;
    background: #03c350;
}
.abt-left a{
    margin-top: 13px;
}
.abt-right img{
    box-shadow: 0px 0px 32px 0px rgba( 181, 204, 220 ,0.5);
}
.abt-right a{
    display: inline-block;
    height: 66px;
    width: 66px;
    background: rgba(44, 227, 150, 0.88);
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 50%;
    color: #fff;
    text-align: center;
    line-height: 66px;
    font-size: 22px;
    padding-left: 6px;
}
.abt-right a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 66px;
    width: 66px;
    background: rgba(44, 227, 150, 0.4);
    border-radius: 50%;
    -webkit-animation: vdscaling 1s linear infinite;
            animation: vdscaling 1s linear infinite;
}
@-webkit-keyframes vdscaling{
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(2);
                transform: scale(2);
    }
}
@keyframes vdscaling{
    0%{
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
    }
    100%{
        opacity: 0;
        -webkit-transform: scale(2);
                transform: scale(2);
    }
}

/*============================================
   END About Area
*=============================================*/

/*============================================
   1.6 Doctor Area
*=============================================*/
.doctor-thumb{
    border: 3px solid #34b2f7;
}
.dc-meta{
    margin: 14px 0 6px;
}
.dc-meta h2 a{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0;
    color: #5d5d5d;
    margin-bottom: 8px;
}
.dc-meta h2 a:hover{
    color: #34b2f7;
}
.dc-meta h4{
    font-size: 16px;
    font-weight: 500;
    color: #5d5d5d;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 21px;
}
.s-dc-content p{
    font-size: 14px;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 26px;
}
.s-dc-content .ht-social{
    text-align: left;
    margin-top: 10px;
}
.s-dc-content .ht-social li:first-child a{
    margin-left: 0;
}
.s-dc-content .ht-social li:first-child a:hover{
    color: #34b2f7;
}
.see-all{
    text-align: center;
}
.see-all a{
    margin-top: 40px;
}

/*============================================
   END Doctor Area
*=============================================*/

/*============================================
   1.7 Service Area
*=============================================*/
.service-list{
    margin-bottom: -40px;
}
.service-item{
    margin-bottom: 40px;
}
.service-item img{
    border-radius: 4px;
}
.service-item h2 a{
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    color: #5d5d5d;
    letter-spacing: 0;
    margin: 17px 0 18px;
}
.service-item p{
    font-size: 14px;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 25px;
}
.service-item >a{
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    color: #5d5d5d;
    letter-spacing: 0;
    margin-top: 4px;
}
.service-item >a:hover,
.service-item h2 a:hover{
    color: #34b2f7;
}
.service-right{
    position: relative;
    height: 100%;
    background: url(../images/service/svc-right-thumb.jpg) center/cover no-repeat;
}
.download-flyer{
    background-color: rgba( 44, 227, 150, 0.8 );
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 65%;
    width: 65%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.download-flyer:before{
    content: '';
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: -1;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    border: 3px solid #fff;
    border-radius: 3px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.download-flyer a{
    display: inline-block;
    margin: auto;
    font-size: 22px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0;
}
.download-flyer a:hover{
    color: #4f6ed0;
}

/*============================================
   END Service Area
*=============================================*/

/*============================================
   1.8 Testimonial Area
*=============================================*/
.appoinment-form{
    margin-bottom: -20px;
}
.tst-item{
    text-align: center;
}
.tst-thumb{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #e7edf1;
    box-shadow: 0 0 21px rgba(0,0,0,0.2);
    margin: 10px auto 29px;
}
.tst-item h2{
    font-size: 20px;
    font-weight: 600;
    color: #5d5d5d;
    letter-spacing: 0;
    margin-bottom: 6px;
}
.tst-item span{
    font-size: 16px;
    font-weight: 600;
    color: #5d5d5d;
    letter-spacing: 0;
    margin-bottom: 20px;
    display: block;
}
.tst-item p{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #5d5d5d;
    letter-spacing: 0;
    margin-bottom: 3px;
    position: relative;
}
.tst-item p:before{
    content: '\f10e';
    font-family: fontawesome;
    position: absolute;
    right: 5px;
    top: 0;
    z-index: -1;
    font-size: 63px;
    color: #e1e1e1;
}
.tst-carousel .owl-dots{
    text-align: center;
    margin-top: 40px;
}
.tst-carousel .owl-dot{
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #33abec;
    margin: 0 5px;
}
.tst-carousel .owl-dot.active{
    background: #0ace7c;
}


/*============================================
   END Testimonial Area
*=============================================*/

/*============================================
   1.9 Feature Blog
*=============================================*/
.blog-thumb a{
    display: block;
    overflow: hidden;
    position: relative;
}
.blog-thumb a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: #272727;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.blog-thumb a:hover:before{
    opacity: 0.5;
}
.blog-thumb a img{
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.blog-thumb a:hover img{
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
}
.blog-meta{
    margin: 16px 0 12px;
}
.blog-meta ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.blog-meta ul li{
    font-size: 14px;
    font-weight: 400;
    color: #8b8888;
    letter-spacing: 0;
}
.blog-meta ul li span{
    margin-left: 21px;
}
.blog-meta ul li span i{
    margin-right: 5px;
}
.blog-content h2 a{
    display: block;
    font-size: 20px;
    font-weight: 500;
    color: #5d5d5d;
    letter-spacing: 0;
    margin-bottom: 16px;
}
.blog-content h2 a:hover{
    color: #2ce396;
}
.blog-content p{
    font-size: 14px;
    font-weight: 400;
    color: #5d5d5d;
    line-height: 26px;
}
.blog-content >a{
    margin-top: 30px;
}

/*============================================
   END Feature Blog
*=============================================*/

/*============================================
   1.10 Footer Area
*=============================================*/
.footer-top {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    background: url(../images/bg/footer-bg.jpg) center/cover no-repeat;
}
.footer-top:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #34abec;
    opacity: 0.95;
}
.footer-top .widget{
    margin-bottom: 0;
}
.f_logo{
    display: inline-block;
    margin-bottom: 30px;
    max-width: 235px;
}
.f_address li{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #fefefe;
    letter-spacing: 0;
    padding-left: 45px;
    position: relative;
    line-height: 24px;
    margin-bottom: 30px;
}
.f_address li i{
    position: absolute;
    left: 0;
    top: 50%;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    font-size: 17px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}
.footer-social li{
    display: inline-block;
}
.footer-social li a{
    display: block;
    height: 33px;
    width: 33px;
    border: 1px solid #fff;
    text-align: center;
    line-height: 33px;
    color: #fff;
    font-size: 18px;
    margin-right: 4px;
}
.f_title{
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 10px 0 40px;
    padding-bottom: 19px;
    border-bottom: 1px solid #fff;
}
.quick-links ul li a{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
    padding: 16px 0 13px;
    border-bottom: 1px dotted #fff;
}
.quick-links ul li a:hover{
    color: #7cecbd;
}
.quick-links ul li a i{
    font-size: 18px;
    margin-right: 10px;
    vertical-align: middle;
}
.quick-links ul li:last-child a{
    border: none;
}
.quick-links ul li:first-child a{
    padding-top: 0;
}
.opening-times ul li{
    font-size: 14px;
    color: #fff;
    letter-spacing: 0;
    text-align: center;
    border: 1px dotted #fff;
    padding: 15px;
    margin-bottom: 20px;
}
.news-latter p{
    font-size: 14px;
    color: #fff;
}
.news-latter form{
    position: relative;
    margin-top: 20px;
}
.news-latter form input{
    height: 55px;
    width: 100%;
    padding-left: 20px;
    letter-spacing: 0;
    border: none;
    padding-right: 45px;
}
.news-latter form button{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50px;
    color: #2ce396;
    border: none;
    background: #fff;
    cursor: pointer;
}
.news-latter form button:hover{
    color: #3db2f2;
}
.copy-right{
    margin-top: 80px;
    padding: 25px 0;
    border-top: 1px solid #ddd;
    text-align: center;   
}
.copy-right p{
    color: #fff;
    font-weight: 500;
    font-size: 15px;
}

/*============================================
   END Footer Area
*=============================================*/

/*============================================
   2. Home Two
*=============================================*/
.ht-s2{
    padding: 20px 0;
}
#header-s2{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
}
.hts-s2{
    text-align: right;
}
.hts-s2 li a {
    display: block;
    font-size: 15px;
    color: #5b5b5b;
    margin-left: 9px;
    height: 27px;
    width: 27px;
    border: 1px solid #5b5b5b;
    text-align: center;
    line-height: 27px;
    border-radius: 50%;
}
.hts-s2 li a:hover{
    background: #5b5b5b;
    color: #fff;
}
.header-bottom-s2 .slicknav_menu .slicknav_icon-bar {
    background-color: #ffffff;
}
.header-bottom-s2{
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.sticky-header{
    position: fixed;
    top: 0;
    width: 100%;
    -webkit-animation: hbdown 300ms ease-in-out 0s forwards;
            animation: hbdown 300ms ease-in-out 0s forwards;
}
@-webkit-keyframes hbdown{
    0%{
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
@keyframes hbdown{
    0%{
        -webkit-transform: translateY(-100%);
                transform: translateY(-100%);
    }
    100%{
        -webkit-transform: translateY(0);
                transform: translateY(0);
    }
}
.header-bottom-s2:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 80%;
    z-index: -1;
    background: #0ace7c;
    opacity: 0.73;
    border-radius: 50px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.sticky-header.header-bottom-s2:before{
    opacity: 0;
}
.sticky-header.header-bottom-s2{
    background: #0ace7c;
    box-shadow: 0 2px 28px rgba(0,0,0,0.19);
}
.header-bottom-s2 .main-menu nav ul li a {
    color: #ffffff;
}
.header-bottom-s2 .main-menu nav ul li a:hover,
.header-bottom-s2 .main-menu nav ul li.active a {
    color: #ffffff;
}
.header-bottom-s2 .main-menu nav ul li a:before {
    background: #ffffff;
}

.header-bottom-s2 .main-menu nav .submenu{
    background: #0ace7c;
}
.header-bottom-s2 .main-menu nav .submenu li a:hover,
.header-bottom-s2 .main-menu nav .submenu li.active >a{
    color: #005580;
}

/* hero-area */
.hero-area{
    position: relative;
    z-index: 1;
    padding: 264px 0 266px;
    background: url(../images/bg/slider-bg4.jpg) center/cover no-repeat;
    overflow: hidden;
}
.hero-area:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -70px;
    z-index: -1;
    height: 200px;
    width: 100%;
    background-color: #fff;
    -webkit-transform: skewY(-4deg);
            transform: skewY(-4deg);
}
.hero-area .slider-content span,
.hero-area .slider-content h2,
.hero-area .slider-content p,
.hero-area .slider-content .sld-links{
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
}
.hero-area .slider-content span{
    font-size: 18px;
    display: inline-block;
    background: rgba(10, 206, 124, 0.73);
    padding: 13px 20px;
    margin-bottom: 30px;
}
.hero-area .slider-content h2{
    font-size: 38px;
    line-height: 47px
}
.hero-area .slider-content p {
    font-size: 15px;
}
.hero-area .slider-content .sld-links a{
    border-radius: 0;
    margin: 0;
}

/* make appoinment form */
.appoinment-box{
    width: 554px;
    background: #fff;
    position: absolute;
    bottom: 0;
    right: 21%;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    margin-bottom: 13px;
}
.appoinment-box ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.appoinment-box ul li{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
}
.appoinment-box ul li a{
    display: block;
    background: #0ace7c;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    letter-spacing: 0;
    text-align: center;
    padding: 22px 15px;
}
.appoinment-box ul li a.active{
    background: #4baee2;
}
.appoinment-form-s2{
    padding: 25px 25px 10px;
}
.appoinment-form-s2 .s_form {
    margin-bottom: 15px;
}
.appoinment-form-s2 .s_form select,
.appoinment-form-s2 .s_form input {
    height: 60px;
    border: 1px solid #ededed;
}
.appoinment-form-s2  .s_form button{
    background: #4baee2;
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 16px;
    font-weight: 500;
    margin-top: 28px;
}

/* for-queries-faq */
.for-queries-faq{
    padding: 25px;
}

/* abt-s2 */
.abt-s2 .abt-left:before,
.abt-s2 .abt-left:after{
    display: none;
}
.border_square{
    border-radius: 0;
}
.section-s3 h2 {
    margin-bottom: 18px;
    padding-bottom: 22px;
    text-transform: uppercase;
    font-size: 21px;
}
.section-s3 h2:before {
    width: 165px;
    background: #4baee2;
}
.section-s3 h2:after{
    content: 'H';
    position: absolute;
    left: 50%;
    bottom: -18px;
    height: 37px;
    width: 37px;
    border: 10px solid #fff;
    background: #4baee2;
    font-size: 10px;
    border-radius: 50%;
    color: #fff;
    line-height: 18px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

/*============================================
   END Home Two
*=============================================*/

/*============================================
   3. About Us
*=============================================*/
.crumbs-area{
    min-height: 329px;
    position: relative;
    z-index: 1;
    background: url(../images/bg/crumbs-bg.jpg) center/cover no-repeat;
}
.crumbs-area:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #34b2f7;
    opacity: 0.7;
}
.crumb-inner h3{
    font-size: 37px;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.crumb-inner ul li{
    display: inline-block;
}
.crumb-inner ul li a,
.crumb-inner ul li span {
    font-size: 15px;
    display: block;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-right: 11px;
}
.crumb-inner ul li a:hover{
    text-shadow: 1px 2px 8px rgba(27,27,27,0.2);
}
.crumb-inner ul li a i{
    margin-left: 5px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.crumb-inner ul li a:hover i{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}
.crumb-inner ul li span{
    margin-right: 0;
}

/* faq area */
.faq-area{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.faq-img{
    position: absolute;
    right: 56%;
    bottom: 0;
    z-index: -1;
    max-width: 377px;
}
.accordion-area{
    overflow: hidden;
}
.faq-content h2{
    font-size: 25px;
    font-weight: 700;
    color: #002a3a;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 20px;
}
.accordion-area .card {
    margin-top: 21px;
    border: none;
}
.accordion-area .card-header {
    padding: 0;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.accordion-area .card-header h5 {
    background: transparent;
    margin-bottom: 0;
    display: block;
    overflow: hidden;
    width: 100%;
}
.accordion-area .card-header h5 button {
    border: 1px solid #34b2f7;
    background: #34b2f7;
    padding: 15px 15px;
    width: 100%;
    text-align: left;
    font-size: 15px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    cursor: pointer;
    position: relative;
    line-height: 23px;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.accordion-area .card-header h5 button.collapsed {
    background: transparent;
    color: #8b8888;
}
.accordion-area .card-header h5 button i.icon{
    position: absolute;
    right: 22px;
    top: 14px;
    height: 27px;
    width: 27px;
    background: #fff;
    border-radius: 50%;
}
.accordion-area .card-header h5 button.collapsed i.icon{
    background: #34b2f7;
}
.accordion-area .card-header h5 button i.icon:before {
    content: '';
    position: absolute;
    right: 8px;
    top: calc(50% - 1px);
    height: 2px;
    width: 12px;
    background: #222;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.accordion-area .card-header h5 button.collapsed i.icon:before{
    background: #fff;
}
.accordion-area .card-header h5 button i.icon:after {
    content: '';
    position: absolute;
    right: 13px;
    top: calc(50% - 6px);
    height: 0;
    width: 2px;
    background: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.accordion-area .card-header h5 button.collapsed i.icon:after {
    height: 12px;
}

.accordion-area .card-body {
    color: #333;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0;
    padding: 13px 0 0
}

/* counter-area */
.counter-area{
    padding: 100px 0;
    position: relative;
    z-index: 1;
    background: url(../images/bg/counter-bg.jpg) center/cover no-repeat;
}
.counter-area:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background: #34b2f7;
    opacity: 0.95;
}
.s-counter{
    text-align: center;
}
.s-counter .icon{
    height: 60px;
    width: 60px;
    border: 3px solid #fff;
    border-radius: 50%;
    color: #fff;
    font-size: 26px;
    line-height: 58px;
    margin: auto;
    margin-bottom: 32px;
}
.s-counter h4,
.s-counter h4 span{
    font-size: 37px;
    color: #fff;
    letter-spacing: 0;
}
.s-counter h4{
    margin-bottom: 20px;
}
.s-counter p{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0;
    line-height: 20px;
}

/*============================================
   END About Us
*=============================================*/

/*============================================
   4. Deparment
*=============================================*/
.deparment-tabs{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 50px;
}
.deparment-tabs li{
    -ms-flex-preferred-size: calc(100% * (1/6) - 21px);
        flex-basis: calc(100% * (1/6) - 21px);
}
.deparment-tabs li a{
    display: block;
    border: 1px solid #34abec;
    padding: 10px 0 16px;
    letter-spacing: 0;
    font-size: 15px;
    font-weight: 600;
    color: #002a3a;
    text-align: center;
    position: relative;
}
.deparment-tabs li a:before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -18px;
    border-bottom: none;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #34abec;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.deparment-tabs li a.active:before{
    opacity: 1;
    bottom: -21px;
}
.deparment-tabs li a .icon{
    display: block;
    -webkit-filter: invert(100%);
            filter: invert(100%);
    width: 25px;
    margin: 0 auto 17px;
    height: 29px;
    line-height: 30px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.deparment-tabs li a.active{
    background: #34abec;
    color: #fff;
}
.deparment-tabs li a.active .icon{
    -webkit-filter: invert(0%);
            filter: invert(0%);
}
.dpt-content p{
    font-size: 15px;
    font-weight: 400;
    color: #002a3a;
    line-height: 27px;
}
.dpt-content ul.list{
    margin-top: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.dpt-content ul.list li{
    font-size: 15px;
    font-weight: 400;
    color: #002a3a;
    letter-spacing: 0;
    margin-top: 18px;
    -ms-flex-preferred-size: calc(100% * (1/2) - 15px);
        flex-basis: calc(100% * (1/2) - 15px);
}
.dpt-content ul.list li i{
    margin-right: 10px;
}
.dpt-content a{
    margin-top: 44px;
}

/*============================================
   END Deparment
*=============================================*/

/*============================================
   5. Service
*=============================================*/
.section-title-two{
    margin-bottom: 40px;
}
.section-title-two h2{
    font-size: 26px;
    font-weight: 700;
    color: #002a3a;
    text-transform: uppercase;
    letter-spacing: 0;
    margin-bottom: 14px;
}
.section-title-two p{
    font-size: 18px;
    font-weight: 400;
    color: #002a3a;
}
.service-thumb{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.service-thumb:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #38adee;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.service-item:hover .service-thumb:before{
    opacity: 0.49;
}
.hover-info{
    position: absolute;
    left: 20px;
    top: 20px;
    height: calc(100% - 40px);
    width: calc(100% - 40px);
    border: 1px solid #fff;
    border-radius: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    -webkit-transform: scale(1.02);
            transform: scale(1.02);
}
.service-item:hover .hover-info{
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
}
.hover-info span{
    display: block;
    margin: auto;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.08em;
    color: #fff;
}

/* banner area */
.banner-content h2{
    font-size: 25px;
    font-weight: 700;
    color: #464747;
    letter-spacing: 0;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.banner-content p{
    font-size: 14px;
    font-weight: 400;
    color: #464747;
}
.cta-btn{
    text-align: right;
}
.cta-btn a{
    display: inline-block;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    background: #2ce396;
    color: #fff;
    padding: 10px 50px;
    border-radius: 33px;
}
.cta-btn a:hover{
    background: #14a9e6;
}

/*============================================
   END Service
*=============================================*/

/*============================================
   6. Service Details
*=============================================*/
.sd-content{
    border: 1px solid #ebebeb;
    border-top: 3px solid #59aee0;
    box-shadow: 0px 0px 32px 0px rgba( 181, 204, 220 , 0.5);
}
.sd-content-inner{
    padding: 25px 20px;
}
.sd-content h2 a{
    display: block;
    font-size: 18px;
    font-weight: 700;
    color: #494a4b;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.sd-content h2 a:hover{
    color: #0091e6;
}
.sd-content p{
    font-size: 14px;
    font-weight: 400;
    color: #494a4b;
    margin-bottom: 15px;
}
.sd-content h3{
    font-size: 18px;
    font-weight: 700;
    color: #494a4b;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.sd-content ul{
    margin-bottom: 30px;
}
.sd-content ul li{
    font-size: 14px;
    font-weight: 500;
    color: #646566;
    letter-spacing: 0;
    text-transform: capitalize;
    margin: 11px 0;
    position: relative;
    padding-left: 20px;
}
.sd-content ul li:before{
    content: '';
    position: absolute;
    left: 0;
    top: 5px;
    height: 9px;
    width: 9px;
    background: #494a4b;
    border-radius: 50%;
}

/* sidebar */
.sidebar .widget{
    padding: 0 25px 20px;
    margin-bottom: 40px;
    border: 1px solid #ebebeb;
    border-top: 3px solid #59aee0;
    box-shadow: 0px 0px 32px 0px rgba( 181, 204, 220 , 0.5);
}
.widget:last-child{
    margin-bottom: 0;
}
.widget-title{
    font-size: 17px;
    font-weight: 700;
    color: #494a4b;
    letter-spacing: 0;
    text-align: center;
    padding: 18px 15px;
    border-bottom: 1px solid #f1f3f3;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.w_service-list{
    padding-bottom: 15px;
}
.w_service-list li a{
    display: block;
    font-size: 16px;
    letter-spacing: 0;
    color: #5d5d5d;
    font-weight: 400;
    padding: 18px 0;
    border-bottom: 1px solid #ebebeb;
}
.w_service-list li:last-child a{
    border: none;
}
.w_service-list li a i{
    margin-left: 20px;
    width: 27px;
}
.w_service-list li a:hover{
    color: #59aee0;
}
.widget-archive,
.widget-category{
    padding-bottom: 10px;
}
.widget-archive li,
.widget-category li{
    display: block;
}
.widget-archive li a ,
.widget-category li a {
    display: block;
    font-size: 15px;
    font-weight: 400;
    color: #727070;
    letter-spacing: 0;
    padding: 13px 0;
    border-bottom: 1px solid #f9f3f3;
}
.widget-archive li a:hover,
.widget-category li a:hover{
    color: #0091e6;
}
.widget-archive li:last-child a,
.widget-category li:last-child a{
    border: none;
}
.widget-archive li a i,
.widget-category li a i{
    width: 24px;
}
.widget-archive li a span,
.widget-category li a span{
    float: right;
}
.widget-tags ul{
    padding-bottom: 20px;
}
.widget-tags ul li{
    display: inline-block;
}
.widget-tags ul li a{
    display: block;
    background: #2ce396;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0;
    padding: 7px 13px;
    margin-bottom: 5px;
}
.widget-tags ul li a:hover{
    background: #59aee0;
}

/*============================================
   END Service Details
*=============================================*/

/*============================================
   6. Appoinment
*=============================================*/
.notice {
    margin-top: 11px;
}
.notice p{
    font-size: 15px;
    font-weight: 400;
    color: #002a3a;
}

/*============================================
   END Appoinment
*=============================================*/

/*============================================
   7. Our Doctor
*=============================================*/
.single-team .thumb{
    height: 190px;
    width: 190px;
    border-radius: 50%;
    overflow: hidden;
}
.team-content{
    padding: 20px 0;
}
.tm-meta{
    margin-bottom: 14px;
}
.tm-meta strong{
    font-size: 15px;
    color: #5d5d5d;
    letter-spacing: 0;
    font-weight: 500;
}
.tm-meta-name h2{
    font-size: 18px;
    font-weight: 700;
    color: #4b4a4a;
    letter-spacing: 0;
    display: inline-block;
    margin-right: 40px;
}
.social {
    display: inline-block;
}
.social li{
    display: inline-block;
}
.social li a{
    display: block;
    font-size: 14px;
    color: #003445;
    margin-right: 5px;
}
.team-content p{
    font-size: 14px;
    font-weight: 400;
    color: #5d5d5d;
}
.tm-btn a{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0;
    background: #0bce7c;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
.tm-btn a:hover{
    background-color: #03c350;
}

.team-carousel .owl-nav{
    position: absolute;
    right: 0;
    top: -60px;
}
.team-carousel .owl-nav div{
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #a6a6a6;
    color: #a6a6a6;
    font-size: 26px;
    display: inline-block;
    margin-left: 15px;
}
.team-carousel .owl-nav div:hover{
    background: #0bce7c;
    border-color: #0bce7c;
    color: #fff;
}

/* available-doctor-area */
.av_dc-title{
    font-size: 24px;
    font-weight: 700;
    color: #002a3a;
    letter-spacing: 0;
}
.avl-doc-menu{
    display: block;
    text-align: right;
}
.avl-doc-menu li{
    display: inline-block;
}
.avl-doc-menu li a{
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #5d5d5d;
    text-transform: uppercase;
    letter-spacing: 0;
    position: relative;
    margin-left: 19px;
}
.avl-doc-menu li a:hover,
.avl-doc-menu li a.active{
    color: #5bb0e1;
}
.avl-doc-menu li a:before{
    content: '/';
    position: absolute;
    left: -14px;
    top: -1px;
    font-size: 20px;
}
.avl-doc-menu li:first-child a:before{
    display: none;
}
.avl-doc-tabs{
    margin-top: 50px;
}
.avl-doc-tabs .single-team{
    margin-bottom: 50px;
}

/*============================================
   END Our Doctor
*=============================================*/

/*============================================
   8. Blog
*=============================================*/
.all-blog .single-blog{
    margin-bottom: 60px;
}

/* blog one column */
.blog-one-column .single-blog{
    margin-bottom: 60px;
}
.blog-one-column .blog-thumb{
    border: 3px solid #e9ebeb;
}
.blog-one-column .blog-meta ul{
    display: block;
}
.blog-one-column .blog-meta ul li{
    display: inline-block;
    margin-right: 8px;
}
.rc-single-post{
    overflow: hidden;
    margin-bottom: 20px;
}
.rc-thumb{
    float: left;
    max-width: 85px;
    margin-right: 12px;
    border: 3px solid #f9f9f9;
}
.rc-content{
    overflow: hidden;
}
.rc-content a{
    display: block;
    font-size: 14px;
    font-weight: 400;
    color: #595757;
    letter-spacing: 0;
    line-height: 21px;
    margin-bottom: 6px;
}
.rc-content a:hover{
    color: #0091e6;
}
.rc-content ul{
    display: block;
    line-height: 21px;
}
.rc-content ul li{
    font-size: 12px;
    letter-spacing: 0;
    color: #8b8888;
    display: inline-block;
    margin-right: 7px;
}
.rc-content ul li i{
    margin-right: 3px;
}
.rc-content ul li  span{
    margin-right: 5px;
}

/* blog-details */
.blg-details-inner h2 a{
    font-size: 26px;
    font-weight: 500;
    color: #4d4b4b;
}
.blg-details-inner h2 a:hover{
    color: #03c350;
}
.blg-details-inner p{
    font-size: 14px;
    font-weight: 400;
    color: #6b6868;
    margin-bottom: 33px;
}
.blg-details-inner p strong{
    font-weight: 700;
    color: #6b6868;
}
.blg-details-inner h3{
    font-size: 24px;
    font-weight: 400;
    color: #686464;
    letter-spacing: 0;
    margin-bottom: 13px;
}
.acc-system{
    margin-bottom: 26px;
    overflow: hidden;
}
.acc-system li a{
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #686464;
    letter-spacing: 0;
    margin: 12px 0;
}
.acc-system li a i{
    margin-right: 8px;
}
.food-poison li{
    width: 324px;
    display: inline-block;
    max-width: 100%;
}
.food-poison li a{
    display: block;
    font-size: 15px;
    font-weight: 700;
    color: #5e5c5c;
    letter-spacing: 0;
    margin: 12px 0;
}
.food-poison li i{
    margin-right: 12px;
}
.devider{
    height: 3px;
    background-color: #f7f6f6;
    margin: 40px 0 20px;
}
.post-share{
    text-align: right;
}
.post-share li{
    display: inline-block;
}
.post-share li a{
    font-size: 16px;
    color: #003445;
    margin-left: 15px;
}
.post-share li a:hover{
    color: #50b0e3;
}
.blg-details-inner {
    border-top: 3px solid #e4e9ec;
    box-shadow: 0px 0px 32px 0px rgba( 181, 204, 220 , 0.5);
}
.blg-details-inner .blog-meta {
    margin: 16px 0 26px
}
.blg-details-inner .blog-thumb{
    margin-bottom: 7px;
}
.blg-details-inner .blog-content{
    padding: 20px;
}
/*comment area*/

.comment-area {
    overflow: hidden;
    margin-bottom: 22px;
    margin-top: 50px;
}

h4.comment-title {
    font-size: 21px;
    font-weight: 700;
    color: #333333;
    letter-spacing: 0;
    margin-bottom: 40px;
}

.comment-info-inner article {
    overflow: hidden;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.comment-thumb {
    float: left;
}

.comment-thumb img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.comment-content {
    overflow: hidden;
}

.comment-content .meta-data h2 {
    font-size: 18px;
    color: #333333;
    font-weight: 600;
    letter-spacing: 0;
    margin-bottom: 5px;
}

.comment-content .meta-data span {
    display: block;
    font-size: 13px;
    font-weight: 600;
    color: #565353;
    letter-spacing: 0;
    margin-bottom: 8px;
}

.comment-content p {
    font-size: 14px;
    font-weight: 500;
    color: #5f5a5a;
    letter-spacing: 0;
    line-height: 23px;
    margin-top: 16px;
}

.comment-content a {
    margin-top: 12px;
    display: inline-block;
    color: #50b0e3;
    letter-spacing: 0;
    font-weight: 600;
    font-size: 14px;
}

.comment-content a:hover {
    color: #2ce396;
}

.children {
    padding-left: 60px;
}

/*leave-comment-area*/

.leave-comment-area form input,
.leave-comment-area form textarea {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding-left: 15px;
    letter-spacing: 0;
    font-weight: 500;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.leave-comment-area form input:focus,
.leave-comment-area form textarea:focus {
    border-color: #0091e6;
}

.leave-comment-area form textarea {
    height: 120px;
    padding-top: 12px;
}

.leave-comment-area form #c_submit {
    margin-bottom: 0;
    max-width: 120px;
    background-color: #0091e6;
    text-align: center;
    padding-left: 0;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

.leave-comment-area form #c_submit:hover {
    background-color: #0ab76e;
}

/*============================================
   END Blog
*=============================================*/

/*============================================
   9. Contact
*=============================================*/
.contact-area .section-title-two p{
    font-size: 15px;
    color: #5b5e5f;
}
.section-title-two h4{
    font-size: 18px;
    font-weight: 500;
    color: #55595a;
    letter-spacing: 0;
    margin-bottom: 18px;
}
.contact-form h2.cnt-subtitle{
    font-size: 22px;
    font-weight: 500;
    color: #002a3a;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 23px;
}
.cform-input{
    position: relative;
    margin-bottom: 20px;
}
.cform-input input,
.cform-input textarea{
    height: 50px;
    width: 100%;
    border: 1px solid #cccccc;
    padding-left: 88px;
    letter-spacing: 0;
}
.cform-input i{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 68px;
    background: #34abec;
    border: 1px solid #0c8ed5;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.cform-input textarea{
    display: block;
    height: 148px;
    padding: 10px 0 0 20px;
}
.form-submit input{
    display: inline-block;
}
.form-submit p{
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #575859;
}
.form-submit button{
    height: 50px;
    width: 140px;
    text-align: center;
    line-height: 50px;
    background: #34abec;
    border: 1px solid #0c8ed5;
    color: #fff;
    outline: none;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.form-submit button:hover{
    background: #0091e6;
    border: 1px solid #0091e6;
}
.cnt-single{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 15px;
}
.cnt-single i{
    height: 50px;
    width: 60px;
    text-align: center;
    line-height: 50px;
    background: #34abec;
    border: 1px solid #0c8ed5;
    color: #fff;
    font-size: 20px;
    margin: 4px  30px 0 0;
}
.cnt-single h2{
    font-size: 16px;
    font-weight: 400;
    color: #5b5e5f;
    letter-spacing: 0;
    line-height: 28px;
}
.contact-social{
    margin-top: 45px;
}
.contact-social li{
    display: inline-block;
}
.contact-social li a{
    display: block;
    height: 40px;
    width: 40px;
    border: 1px solid #34abec;
    text-align: center;
    line-height: 40px;
    font-size: 19px;
    color: #34abec;
    margin-right: 4px;
}
.contact-social li a:hover{
    color: #fff;
    background: #34abec;
}

/* google map */
#google_map{
    height: 600px;
}

/*============================================
   END Contact
*=============================================*/